.error-msg {
    color: red;
    font-size: 14px;
    margin: 6px 0 0 0;
    word-break: break-word;
    font-family: pop-reg;
  }

  .required-field:after {
      color: red;
      content: " *";
    }
  